services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    network_mode: "host"
    volumes:
      - ./backend/prometheus:/app/prometheus

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3001:3000"
    environment:
      - NODE_ENV=development
    depends_on:
      - backend
    networks:
      - prometheus-network

networks:
  prometheus-network:
    driver: bridge
